$accent: rgba(233, 233, 244, 0.4);
$break-small: 800px;

@import "mixins/font-face";

@include font-face("Fira-Sans", "/assets/fonts/FiraSans-Regular");
@include font-face("Fira-Sans", "/assets/fonts/FiraSans-SemiBold", 600);

body {
  font-family: Fira-Sans, sans-serif;
}

.form-element:not(:last-of-type) {
  margin-bottom: 10px;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px 300px auto;
  grid-template-rows: 100px auto;

  grid-template-areas: 
	  "masthead masthead  masthead" 
	  "controls content content" 
	  "controls content  content";
  @media screen and (max-width: 800px) {
    grid-template-areas: 
      "masthead masthead masthead" 
      "controls .. .." 
      "content content  content";
  }
}

.content{
  overflow: hidden;
  grid-area: content;
}


.control-panel {
  grid-area: controls;
}
rect {
  transition: .7s fill;
  stroke: #cccccc;
  &.on{
    fill: #008412;
  }
  &.off{
    fill: #ffffff;
  }
}
.header {
  grid-area: masthead;
  background-color: #444444;
  display: flex;
  align-items: center;
  &__title {
	  color: #ffffff;
	  font-weight: 600;
    margin-left: 2rem;
	}
}

.label {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(233, 233, 244, 0.4);
}

.label input {
  margin-left: 10px;
}

.btn {
  padding: 12px 30px;
  background-color: green;
  border: none;
  width: 100%;
  color: #ffffff;
  font-size: 1.1rem;
  cursor: pointer;
  text-transform: uppercase;
}
